--
-- PostgreSQL database dump
--

\restrict 1ctNSEWberUtWucsoE8j3QiczaUmLXxdbDRtJq1KdT40wLLPycFAxI4VY1ehaUY

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg12+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cart_items; Type: TABLE; Schema: public; Owner: cps_user
--

CREATE TABLE public.cart_items (
    id bigint NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    product_price double precision NOT NULL,
    quantity integer NOT NULL,
    size character varying(255),
    total_price double precision,
    cart_id bigint NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.cart_items OWNER TO cps_user;

--
-- Name: cart_items_id_seq; Type: SEQUENCE; Schema: public; Owner: cps_user
--

ALTER TABLE public.cart_items ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cart_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: carts; Type: TABLE; Schema: public; Owner: cps_user
--

CREATE TABLE public.carts (
    id bigint NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    total_price double precision NOT NULL,
    total_quantity integer NOT NULL,
    user_id bigint
);


ALTER TABLE public.carts OWNER TO cps_user;

--
-- Name: carts_id_seq; Type: SEQUENCE; Schema: public; Owner: cps_user
--

ALTER TABLE public.carts ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.carts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: category; Type: TABLE; Schema: public; Owner: cps_user
--

CREATE TABLE public.category (
    id bigint NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    description character varying(255),
    is_delete boolean,
    name character varying(255)
);


ALTER TABLE public.category OWNER TO cps_user;

--
-- Name: category_id_seq; Type: SEQUENCE; Schema: public; Owner: cps_user
--

ALTER TABLE public.category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chat_conversations; Type: TABLE; Schema: public; Owner: cps_user
--

CREATE TABLE public.chat_conversations (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    session_id character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone,
    user_id bigint
);


ALTER TABLE public.chat_conversations OWNER TO cps_user;

--
-- Name: chat_conversations_id_seq; Type: SEQUENCE; Schema: public; Owner: cps_user
--

ALTER TABLE public.chat_conversations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chat_conversations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: cps_user
--

CREATE TABLE public.chat_messages (
    id bigint NOT NULL,
    content text NOT NULL,
    created_at timestamp(6) without time zone,
    metadata jsonb,
    role character varying(20) NOT NULL,
    conversation_id bigint NOT NULL
);


ALTER TABLE public.chat_messages OWNER TO cps_user;

--
-- Name: chat_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: cps_user
--

ALTER TABLE public.chat_messages ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chat_messages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: coupons; Type: TABLE; Schema: public; Owner: cps_user
--

CREATE TABLE public.coupons (
    id bigint NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    code character varying(50) NOT NULL,
    description text,
    discount_type character varying(255) NOT NULL,
    discount_value double precision NOT NULL,
    end_date timestamp(6) without time zone,
    is_active boolean NOT NULL,
    max_discount_amount double precision,
    min_order_amount double precision NOT NULL,
    name character varying(100) NOT NULL,
    start_date timestamp(6) without time zone,
    usage_limit integer NOT NULL,
    used_count integer NOT NULL,
    CONSTRAINT coupons_discount_type_check CHECK (((discount_type)::text = ANY ((ARRAY['PERCENTAGE'::character varying, 'FIXED_AMOUNT'::character varying])::text[])))
);


ALTER TABLE public.coupons OWNER TO cps_user;

--
-- Name: coupons_id_seq; Type: SEQUENCE; Schema: public; Owner: cps_user
--

ALTER TABLE public.coupons ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.coupons_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: favorites; Type: TABLE; Schema: public; Owner: cps_user
--

CREATE TABLE public.favorites (
    id bigint NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    product_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.favorites OWNER TO cps_user;

--
-- Name: favorites_id_seq; Type: SEQUENCE; Schema: public; Owner: cps_user
--

ALTER TABLE public.favorites ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.favorites_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: cps_user
--

CREATE TABLE public.notifications (
    id bigint NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    data jsonb,
    is_read boolean NOT NULL,
    message text NOT NULL,
    title character varying(255) NOT NULL,
    type character varying(50) NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT notifications_type_check CHECK (((type)::text = ANY ((ARRAY['ORDER'::character varying, 'FAVORITE'::character varying, 'COUPON'::character varying, 'PRODUCT'::character varying, 'SYSTEM'::character varying])::text[])))
);


ALTER TABLE public.notifications OWNER TO cps_user;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: cps_user
--

ALTER TABLE public.notifications ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_item; Type: TABLE; Schema: public; Owner: cps_user
--

CREATE TABLE public.order_item (
    id bigint NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    product_price double precision,
    quantity integer,
    size character varying(255),
    total_price double precision,
    order_id bigint,
    product_id bigint NOT NULL,
    product_image character varying(255),
    product_name character varying(255)
);


ALTER TABLE public.order_item OWNER TO cps_user;

--
-- Name: order_item_id_seq; Type: SEQUENCE; Schema: public; Owner: cps_user
--

ALTER TABLE public.order_item ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_item_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders; Type: TABLE; Schema: public; Owner: cps_user
--

CREATE TABLE public.orders (
    id bigint NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    final_amount double precision,
    payment_method character varying(255),
    phone character varying(255),
    quantity integer,
    shipping_address character varying(255),
    status character varying(255),
    total_amount double precision,
    total_discount double precision,
    txn_id character varying(255),
    coupon_id bigint,
    user_id bigint,
    admin_note character varying(1000),
    customer_note character varying(1000),
    receiver_name character varying(255),
    shipping_fee double precision
);


ALTER TABLE public.orders OWNER TO cps_user;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: cps_user
--

ALTER TABLE public.orders ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product; Type: TABLE; Schema: public; Owner: cps_user
--

CREATE TABLE public.product (
    id bigint NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    description text,
    images text[],
    is_delete boolean NOT NULL,
    name character varying(255),
    price double precision,
    slug character varying(255),
    stock integer,
    sub_title character varying(255),
    category_id bigint,
    sizes text[],
    rating numeric(2,1) DEFAULT 0.0
);


ALTER TABLE public.product OWNER TO cps_user;

--
-- Name: product_id_seq; Type: SEQUENCE; Schema: public; Owner: cps_user
--

ALTER TABLE public.product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: review_replies; Type: TABLE; Schema: public; Owner: cps_user
--

CREATE TABLE public.review_replies (
    id bigint NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    comment character varying(1000) NOT NULL,
    dislike_count integer,
    is_admin_reply boolean NOT NULL,
    is_hidden boolean,
    like_count integer,
    parent_id bigint,
    review_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.review_replies OWNER TO cps_user;

--
-- Name: review_replies_id_seq; Type: SEQUENCE; Schema: public; Owner: cps_user
--

ALTER TABLE public.review_replies ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.review_replies_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reviews; Type: TABLE; Schema: public; Owner: cps_user
--

CREATE TABLE public.reviews (
    id bigint NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    approved boolean NOT NULL,
    comment character varying(1000),
    dislike_count integer,
    images text[],
    is_hidden boolean,
    like_count integer,
    rating integer NOT NULL,
    title character varying(255),
    product_id bigint,
    user_id bigint,
    admin_note text,
    ai_reasons text[],
    ai_suggestion character varying(255),
    review_status character varying(255),
    CONSTRAINT reviews_review_status_check CHECK (((review_status)::text = ANY ((ARRAY['SAFE'::character varying, 'WARNING'::character varying, 'BLOCK'::character varying])::text[])))
);


ALTER TABLE public.reviews OWNER TO cps_user;

--
-- Name: reviews_id_seq; Type: SEQUENCE; Schema: public; Owner: cps_user
--

ALTER TABLE public.reviews ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reviews_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_tokens; Type: TABLE; Schema: public; Owner: cps_user
--

CREATE TABLE public.user_tokens (
    id bigint NOT NULL,
    confirmed_at timestamp(6) without time zone,
    created_at timestamp(6) without time zone,
    expires_at timestamp(6) without time zone NOT NULL,
    token bigint NOT NULL,
    updated_at timestamp(6) without time zone,
    user_id bigint NOT NULL
);


ALTER TABLE public.user_tokens OWNER TO cps_user;

--
-- Name: user_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: cps_user
--

ALTER TABLE public.user_tokens ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: cps_user
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    full_name character varying(100) NOT NULL,
    email character varying(255),
    password_hash character varying(255) NOT NULL,
    role character varying(255) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    avatar_url character varying(255),
    refresh_token character varying(1000),
    first_name character varying(50),
    last_name character varying(50),
    phone character varying(255),
    address character varying(500),
    gender character varying(10),
    provider character varying(50),
    provider_id character varying(255),
    email_verified boolean DEFAULT false,
    verification_token character varying(100),
    verification_token_expiry timestamp without time zone,
    ban_reason text,
    ban_until timestamp(6) without time zone,
    is_banned boolean DEFAULT false NOT NULL
);


ALTER TABLE public.users OWNER TO cps_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: cps_user
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO cps_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cps_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: vector_documents; Type: TABLE; Schema: public; Owner: cps_user
--

CREATE TABLE public.vector_documents (
    id bigint NOT NULL,
    content text NOT NULL,
    created_at timestamp(6) without time zone,
    embedding public.vector(384),
    metadata jsonb,
    source character varying(255),
    source_type character varying(50),
    updated_at timestamp(6) without time zone
);


ALTER TABLE public.vector_documents OWNER TO cps_user;

--
-- Name: vector_documents_id_seq; Type: SEQUENCE; Schema: public; Owner: cps_user
--

ALTER TABLE public.vector_documents ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.vector_documents_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: cart_items; Type: TABLE DATA; Schema: public; Owner: cps_user
--

COPY public.cart_items (id, created_at, updated_at, product_price, quantity, size, total_price, cart_id, product_id) FROM stdin;
\.


--
-- Data for Name: carts; Type: TABLE DATA; Schema: public; Owner: cps_user
--

COPY public.carts (id, created_at, updated_at, total_price, total_quantity, user_id) FROM stdin;
11	2025-12-18 23:19:31.795561	2025-12-18 23:19:31.795561	0	0	17
\.


--
-- Data for Name: category; Type: TABLE DATA; Schema: public; Owner: cps_user
--



--
-- Data for Name: chat_conversations; Type: TABLE DATA; Schema: public; Owner: cps_user
--



--
-- Data for Name: chat_messages; Type: TABLE DATA; Schema: public; Owner: cps_user
--



--
-- Data for Name: coupons; Type: TABLE DATA; Schema: public; Owner: cps_user
--



--
-- Data for Name: favorites; Type: TABLE DATA; Schema: public; Owner: cps_user
--

COPY public.favorites (id, created_at, updated_at, product_id, user_id) FROM stdin;
10	2025-12-19 16:02:59.077393	2025-12-19 16:02:59.077912	5	10
15	2025-12-19 16:18:18.963755	2025-12-19 16:18:18.963755	8	10
16	2025-12-19 16:18:29.010616	2025-12-19 16:18:29.011151	14	10
20	2025-12-25 13:55:49.275137	2025-12-25 13:55:49.275137	28	10
26	2026-01-01 14:58:02.243181	2026-01-01 14:58:02.243181	6	10
27	2026-01-01 14:58:19.688397	2026-01-01 14:58:19.688916	24	10
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: cps_user
--



--
-- Data for Name: order_item; Type: TABLE DATA; Schema: public; Owner: cps_user
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: cps_user
--



--
-- Data for Name: product; Type: TABLE DATA; Schema: public; Owner: cps_user
--



--
-- Data for Name: review_replies; Type: TABLE DATA; Schema: public; Owner: cps_user
--

COPY public.review_replies (id, created_at, updated_at, comment, dislike_count, is_admin_reply, is_hidden, like_count, parent_id, review_id, user_id) FROM stdin;
\.


--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: cps_user
--



--
-- Data for Name: user_tokens; Type: TABLE DATA; Schema: public; Owner: cps_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: cps_user
--



--
-- Data for Name: vector_documents; Type: TABLE DATA; Schema: public; Owner: cps_user
--



--
-- Name: cart_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cps_user
--

SELECT pg_catalog.setval('public.cart_items_id_seq', 58, true);


--
-- Name: carts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cps_user
--

SELECT pg_catalog.setval('public.carts_id_seq', 48, true);


--
-- Name: category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cps_user
--

SELECT pg_catalog.setval('public.category_id_seq', 25, true);


--
-- Name: chat_conversations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cps_user
--

SELECT pg_catalog.setval('public.chat_conversations_id_seq', 57, true);


--
-- Name: chat_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cps_user
--

SELECT pg_catalog.setval('public.chat_messages_id_seq', 248, true);


--
-- Name: coupons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cps_user
--

SELECT pg_catalog.setval('public.coupons_id_seq', 3, true);


--
-- Name: favorites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cps_user
--

SELECT pg_catalog.setval('public.favorites_id_seq', 27, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cps_user
--

SELECT pg_catalog.setval('public.notifications_id_seq', 26, true);


--
-- Name: order_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cps_user
--

SELECT pg_catalog.setval('public.order_item_id_seq', 42, true);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cps_user
--

SELECT pg_catalog.setval('public.orders_id_seq', 32, true);


--
-- Name: product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cps_user
--

SELECT pg_catalog.setval('public.product_id_seq', 33, true);


--
-- Name: review_replies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cps_user
--

SELECT pg_catalog.setval('public.review_replies_id_seq', 1, false);


--
-- Name: reviews_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cps_user
--

SELECT pg_catalog.setval('public.reviews_id_seq', 5, true);


--
-- Name: user_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cps_user
--

SELECT pg_catalog.setval('public.user_tokens_id_seq', 7, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cps_user
--

SELECT pg_catalog.setval('public.users_id_seq', 1074, true);


--
-- Name: vector_documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cps_user
--

SELECT pg_catalog.setval('public.vector_documents_id_seq', 544, true);


--
-- Name: cart_items cart_items_pkey; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_pkey PRIMARY KEY (id);


--
-- Name: carts carts_pkey; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_pkey PRIMARY KEY (id);


--
-- Name: category category_pkey; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_pkey PRIMARY KEY (id);


--
-- Name: chat_conversations chat_conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.chat_conversations
    ADD CONSTRAINT chat_conversations_pkey PRIMARY KEY (id);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: coupons coupons_pkey; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_pkey PRIMARY KEY (id);


--
-- Name: favorites favorites_pkey; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: order_item order_item_pkey; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.order_item
    ADD CONSTRAINT order_item_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: product product_pkey; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_pkey PRIMARY KEY (id);


--
-- Name: review_replies review_replies_pkey; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.review_replies
    ADD CONSTRAINT review_replies_pkey PRIMARY KEY (id);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (id);


--
-- Name: carts uk64t7ox312pqal3p7fg9o503c2; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT uk64t7ox312pqal3p7fg9o503c2 UNIQUE (user_id);


--
-- Name: coupons ukeplt0kkm9yf2of2lnx6c1oy9b; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT ukeplt0kkm9yf2of2lnx6c1oy9b UNIQUE (code);


--
-- Name: favorites ukgh1s14hhb9qb8p2do933hscsf; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT ukgh1s14hhb9qb8p2do933hscsf UNIQUE (user_id, product_id);


--
-- Name: chat_conversations ukoxm2m6jtdpst9da229ncd2usk; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.chat_conversations
    ADD CONSTRAINT ukoxm2m6jtdpst9da229ncd2usk UNIQUE (session_id);


--
-- Name: user_tokens user_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.user_tokens
    ADD CONSTRAINT user_tokens_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_phone_key; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_phone_key UNIQUE (phone);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vector_documents vector_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.vector_documents
    ADD CONSTRAINT vector_documents_pkey PRIMARY KEY (id);


--
-- Name: chat_messages_conversation_idx; Type: INDEX; Schema: public; Owner: cps_user
--

CREATE INDEX chat_messages_conversation_idx ON public.chat_messages USING btree (conversation_id, created_at DESC);


--
-- Name: idx_notifications_created_at; Type: INDEX; Schema: public; Owner: cps_user
--

CREATE INDEX idx_notifications_created_at ON public.notifications USING btree (created_at);


--
-- Name: idx_notifications_is_read; Type: INDEX; Schema: public; Owner: cps_user
--

CREATE INDEX idx_notifications_is_read ON public.notifications USING btree (is_read);


--
-- Name: idx_notifications_type; Type: INDEX; Schema: public; Owner: cps_user
--

CREATE INDEX idx_notifications_type ON public.notifications USING btree (type);


--
-- Name: idx_notifications_user_id; Type: INDEX; Schema: public; Owner: cps_user
--

CREATE INDEX idx_notifications_user_id ON public.notifications USING btree (user_id);


--
-- Name: vector_documents_embedding_idx; Type: INDEX; Schema: public; Owner: cps_user
--

CREATE INDEX vector_documents_embedding_idx ON public.vector_documents USING hnsw (embedding public.vector_cosine_ops);


--
-- Name: vector_documents_metadata_idx; Type: INDEX; Schema: public; Owner: cps_user
--

CREATE INDEX vector_documents_metadata_idx ON public.vector_documents USING gin (metadata);


--
-- Name: vector_documents_source_type_idx; Type: INDEX; Schema: public; Owner: cps_user
--

CREATE INDEX vector_documents_source_type_idx ON public.vector_documents USING btree (source_type);


--
-- Name: product fk1mtsbur82frn64de7balymq9s; Type: FK CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT fk1mtsbur82frn64de7balymq9s FOREIGN KEY (category_id) REFERENCES public.category(id);


--
-- Name: orders fk32ql8ubntj5uh44ph9659tiih; Type: FK CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk32ql8ubntj5uh44ph9659tiih FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: chat_conversations fk40okueacd48n616c3r1nvjwpr; Type: FK CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.chat_conversations
    ADD CONSTRAINT fk40okueacd48n616c3r1nvjwpr FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: order_item fk551losx9j75ss5d6bfsqvijna; Type: FK CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.order_item
    ADD CONSTRAINT fk551losx9j75ss5d6bfsqvijna FOREIGN KEY (product_id) REFERENCES public.product(id);


--
-- Name: review_replies fk5vte5cgqdotgm4813astkeujv; Type: FK CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.review_replies
    ADD CONSTRAINT fk5vte5cgqdotgm4813astkeujv FOREIGN KEY (parent_id) REFERENCES public.review_replies(id);


--
-- Name: user_tokens fk61iiu6gfevpvo2v3yl76sar7r; Type: FK CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.user_tokens
    ADD CONSTRAINT fk61iiu6gfevpvo2v3yl76sar7r FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: notifications fk9y21adhxn0ayjhfocscqox7bh; Type: FK CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT fk9y21adhxn0ayjhfocscqox7bh FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: reviews fk9yqmlf28ges8c30nj4v4hva7t; Type: FK CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT fk9yqmlf28ges8c30nj4v4hva7t FOREIGN KEY (product_id) REFERENCES public.product(id);


--
-- Name: carts fkb5o626f86h46m4s7ms6ginnop; Type: FK CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT fkb5o626f86h46m4s7ms6ginnop FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: reviews fkcgy7qjc1r99dp117y9en6lxye; Type: FK CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT fkcgy7qjc1r99dp117y9en6lxye FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: favorites fkk7du8b8ewipawnnpg76d55fus; Type: FK CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT fkk7du8b8ewipawnnpg76d55fus FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: review_replies fkk8ng2k5mf1sf7mpkiuk29p3ee; Type: FK CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.review_replies
    ADD CONSTRAINT fkk8ng2k5mf1sf7mpkiuk29p3ee FOREIGN KEY (review_id) REFERENCES public.reviews(id);


--
-- Name: cart_items fkl7je3auqyq1raj52qmwrgih8x; Type: FK CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT fkl7je3auqyq1raj52qmwrgih8x FOREIGN KEY (product_id) REFERENCES public.product(id);


--
-- Name: orders fkn1d1gkxckw648m2n2d5gx0yx5; Type: FK CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fkn1d1gkxckw648m2n2d5gx0yx5 FOREIGN KEY (coupon_id) REFERENCES public.coupons(id);


--
-- Name: cart_items fkpcttvuq4mxppo8sxggjtn5i2c; Type: FK CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT fkpcttvuq4mxppo8sxggjtn5i2c FOREIGN KEY (cart_id) REFERENCES public.carts(id);


--
-- Name: review_replies fkpiii4vmtjq8vvvhko1eis61rx; Type: FK CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.review_replies
    ADD CONSTRAINT fkpiii4vmtjq8vvvhko1eis61rx FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: chat_messages fkqgkanrr90j46564w4ww63jcna; Type: FK CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT fkqgkanrr90j46564w4ww63jcna FOREIGN KEY (conversation_id) REFERENCES public.chat_conversations(id);


--
-- Name: favorites fks08qf83fj01k3epnxh9n71v1s; Type: FK CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT fks08qf83fj01k3epnxh9n71v1s FOREIGN KEY (product_id) REFERENCES public.product(id);


--
-- Name: order_item fkt4dc2r9nbvbujrljv3e23iibt; Type: FK CONSTRAINT; Schema: public; Owner: cps_user
--

ALTER TABLE ONLY public.order_item
    ADD CONSTRAINT fkt4dc2r9nbvbujrljv3e23iibt FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 1ctNSEWberUtWucsoE8j3QiczaUmLXxdbDRtJq1KdT40wLLPycFAxI4VY1ehaUY

